In [3]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
def get_movie_recommendations(userid,genre):
    ae=pd.merge(df,de)
    movie_ratings_df=ae.loc[ae['genres']==genre]
    user_movie_matrix = movie_ratings_df.pivot(index='userId', columns='movieId', values='rating').fillna(0)
    model = NearestNeighbors(metric='cosine', algorithm='brute')
    model.fit(user_movie_matrix)
    target_user_ratings = user_movie_matrix.loc[userid].values.reshape(1, -1)
    distances, indices = model.kneighbors(target_user_ratings, n_neighbors=11) 
    similar_users_movie_ids = user_movie_matrix.iloc[indices.flatten()[1:]] \
        .replace(0, pd.NA) \
        .stack() \
        .dropna() \
        .index.get_level_values('movieId') \
        .unique()

    movies_already_rated = movie_ratings_df[movie_ratings_df['userId'] == userid]['movieId'].tolist()
    recommended_movies = [movie_id for movie_id in similar_users_movie_ids if movie_id not in movies_already_rated][:10]
    aw=pd.DataFrame(recommended_movies)
    aw.columns=['movieId']
    recommendations=pd.merge(aw,movie_ratings_df)
    aq=recommendations.drop_duplicates(subset="title")
    return aq[['title']]
        
        
def exceptions(usid,genre):
    movie=pd.merge(df,de)
    au=movie.loc[movie["genres"]==genre]
    a=au.loc[au["userId"]==usid]
    if a.empty==True:
        ae=movie.sort_values(by='rating',ascending=False)
        ar=ae.loc[ae['genres']==genre]
        aa=ar.drop_duplicates()
        return aa[['movieId','title']].head(10)
    else:
        az=get_movie_recommendations(usid,genre)
        return az

num=0
df=pd.read_csv(r"D:\Games\ml-latest-small\movies.csv")
de=pd.read_csv(r"D:\Games\ml-latest-small\ratings.csv")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 0)
while num!=3:
    print("Enter your user id")
    userid=int(input(" "))
    if int(userid) > 611 :
        print("No user found")
    else:
        while num!=3:
            print("What do you want to do")
            print("(1) Top 10 Movies")
            print("(2) Look Movie according to your preference")
            print("(3) Exit")
            num=int(input(" "))
            if num==1:
                movie=de.loc[de['userId']==userid]
                ad=pd.merge(df,movie)
                ae=ad.sort_values(by='rating',ascending=False)
                display(ae.head(10)[["movieId","title"]])
            elif num==2:
                print("(1) Adventure")
                print("(2) Comedy")
                print("(3) Action")
                print("(4) Animation")
                print("(5) Drama")
                print("(6) Romance")
                print("Please choose")
                ss=int(input(" "))
                if ss ==1:
                    display(exceptions(userid,"Adventure"))
                elif ss==2:
                    display(exceptions(userid,"Comedy"))
                elif ss==3:
                    display(exceptions(userid,"Action"))
                elif ss==4:
                    display(exceptions(userid,"Animation"))
                elif ss==5:
                    display(exceptions(userid,"Drama"))
                elif ss==6:
                    display(exceptions(userid,"Romance"))
                else:
                    print("Wrong option")  
            elif num==3:
                print("Good Bye")
            else:
                print("Wrong option")

Enter your user id
 900
No user found
Enter your user id
 101
What do you want to do
(1) Top 10 Movies
(2) Look Movie according to your preference
(3) Exit
 1

    movieId                        title
31  2712     Eyes Wide Shut (1999)
5   1093     Doors, The (1991)
22  2599     Election (1999)
8   1719     Sweet Hereafter, The (1997)
9   2318     Happiness (1998)
40  2959     Fight Club (1999)
12  2395     Rushmore (1998)
41  2997     Being John Malkovich (1999)
46  3174     Man on the Moon (1999)
0   223      Clerks (1994)

What do you want to do
(1) Top 10 Movies
(2) Look Movie according to your preference
(3) Exit
 2
(1) Adventure
(2) Comedy
(3) Action
(4) Animation
(5) Drama
(6) Romance
Please choose
 2

                                                                 title
0    Forrest Gump (1994)
329  She's All That (1999)
358  Never Been Kissed (1999)
394  Runaway Bride (1999)
436  For Love of the Game (1999)
444  Nurse Betty (2000)
463  Return of the Pink Panther, The (1975)
487  Christmas Vacation (National Lampoon's Christmas Vacation) (1989)
517  Bachelor, The (1999)
528  Pump Up the Volume (1990)

What do you want to do
(1) Top 10 Movies
(2) Look Movie according to your preference
(3) Exit
 3
Good Bye